@model AspNetCoreApp.Models.Customer

<p>
    Merhaba ben Index dosyasiyim.
</p>

<p>
    @ViewBag.Name
</p>

<p>
    TempData["Name"] = @TempData["Name"]
</p>

<p>
    First Name = @Model.FirstName
    <br />
    <hr />
    Last Name = @Model.LastName
    <br />
    <hr />
    Age = @Model.Age

</p>
